{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
    <link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity = "sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel = "stylesheet" type = "text/css" href = " {% static 'css/style.css' %}">
  </head>
</head>
<body>

  <nav style = "height : 100px" class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div>
        <ul class="nav navbar-nav">
          {# Django Home Link / Admin Link / Register Link#}
          <li>
            <div>
                {% if user.is_authenticated %}
              <a class="navbar-brand" href="{% url 'index' %}">
                {% else %}
                <a class="navbar-brand" href="{% url 'user_login' %}">
                  {% endif %}
                <img src="https://www.talentsprint.com/misc/TS-Website/images/logo.png" id="nav-icon" alt="Icon" height="70vh"/>
              </a>
          </li>
          {% if user.is_authenticated %}
          <li id = "home-nav-item"> <a style = "font-size : 15pt; margin : 25px 10px 25px 30px" href = "{% url 'index' %}"> Home </a> </li>
          
          <li><a style = "font-size : 15pt; margin : 25px 0px" href="{% url 'logout' %}">Logout</a></li>

          {% endif %}
          </ul>

          {% if user.is_authenticated %}
          <ul  class = "nav navbar-nav navbar-right">
          <li style = "float : right; margin: 17px 0 0 0; font-size : 15pt" id="welcome">{{ user.username }}</li>
          {% endif %}

          </ul>
      <div>
    </div>
  </nav>

  <div class = "container">
    {% block body_block %}
    {% endblock %}

  </div>
</body>
</html>
